<%- include('../../partials/headerAdmin') %>

    <div class="content-admin">
        <div class="content-adminTop">
            <h2>Quản lý loại sản phẩm</h2>
            <div class="admin-btnAdd">
                <a class="btn--add" href="/formAddCate"><i class="fa fa-plus"></i> Thêm loại sản
                    phẩm</a>
            </div>
        </div>
        <div class="content-adminBottom">
            <table>
                <thead>
                    <th>mã loại SP</th>
                    <th>tên loại SP</th>
                    <th>số lượng sản phẩm</th>
                    <th>thao tác</th>
                </thead>
                <tbody class="infoCate">
                    <% for(let cate of category){ %>
                        <tr>
                            <td class="cate-admin">
                                <%= cate.idCategory %>
                            </td>
                            <td class="cate-admin">
                                <%= cate.nameCategory %>
                            </td>
                            <% for(let pd of quantity){ %>
                                <% if(cate.idCategory==pd.idCategory){ %>
                                    <td class="cate-admin">
                                        <%= pd.quantity %>
                                    </td>
                                    <% } %>
                                        <% } %>
                                            <td class="cate-admin">
                                                <div class="btns-admin">
                                                    <a class="btn--edit"
                                                        href="/formUpdateCate/<%= cate.idCategory %>"><i
                                                            class="fa fa-edit"></i> Sửa</a>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn--delete" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal<%= cate.idCategory %>">
                                                        <i class="fa fa-times-circle"></i> Xóa
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal<%= cate.idCategory %>"
                                                        tabindex="-1" aria-labelledby="exampleModalLabel"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                                        Xác nhận xóa loại
                                                                        sản phẩm
                                                                    </h1>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Bạn chắc chắn muốn xóa loại sản phẩm <span
                                                                        class="fw-bold">
                                                                        "<%= cate.nameCategory %>"
                                                                    </span> ?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Hủy</button>
                                                                    <a class="btn btn-danger"
                                                                        href="/deleteCate/<%= cate.idCategory %>">Xóa</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('../../partials/footerAdmin') %>