<%- include('../partials/header') %>

    <section class="detailCate">
        <div class="container">
            <div class="detail-navBar">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <% for(let cate of category){ %>
                        <% if(cate.idCategory==cateProducts[0].idCategory){ %>
                            <li id="cate-name"><a href="/cateProduct/<%= cate.idCategory %>">
                                    <%= cate.nameCategory %>
                                </a></li>
                </ul>
            </div>
            <div class="detailCate__content">
                <h2 class="section-text" id="name-category">
                    <%= cate.nameCategory %>
                </h2>
                <% } %>
                    <% } %>
                        <div class="detailCate__list">
                            <% for(let pd of cateProducts){ %>
                                <a class="detailCate__item text-decoration-none"
                                    href="/detailProduct/<%= pd.idProduct %>">
                                    <div class="card">
                                        <img src="/images/products/<%= pd.image %>" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= pd.nameProduct %>
                                            </h5>
                                            <% if(pd.sale==0){ %>
                                                <div class="card-discount d-flex align-items-end">
                                                    <p class="card-new">
                                                        <%= (pd.price).toLocaleString() %><span class="vnd">đ</span>
                                                    </p>
                                                </div>
                                                <% }else{ %>
                                                    <div class="card-discount d-flex align-items-end">
                                                        <p class="card-new">
                                                            <%= (pd.price - (pd.price*pd.sale)).toLocaleString() %><span
                                                                    class="vnd">đ</span>
                                                        </p>
                                                        <span class="card-sale">Sale <%= pd.sale*100 %>%</span>
                                                    </div>
                                                    <p class="card-old">
                                                        <%= (pd.price).toLocaleString() %><span class="vnd">đ</span>
                                                    </p>
                                                    <% } %>
                                        </div>
                                    </div>
                                </a>
                                <% } %>
                        </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>