<%- include('../partials/header') %>

    <!-- PRODUCT INTRO -->
    <section class="productIntro">
        <div class="container">
            <div class="detail-navBar">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li id="cate-product">
                        <% for(let cate of category){ %>
                            <% if(cate.idCategory==detail[0].idCategory){ %>
                                <a href="#">
                                    <%= cate.nameCategory %>
                                </a>
                                <% } %>
                                    <% } %>
                    </li>
                    <li id="name-product">
                        <a href="/detailProduct/<%= detail[0].idProduct %>">
                            <%= detail[0].nameProduct %>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="productIntro__info">
                <div class="row">
                    <div class="col-5">
                        <div class="productIntro__slick">
                            <% if(detail[0].sale !=0){ %>
                                <div class="productIntro__promotion">Sale <%= detail[0].sale * 100 %>%</div>
                                <% } %>
                                    <div class="productIntro__nav">
                                        <div class="nav--item">
                                            <div class="item--img">
                                                <img src="" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="productIntro__slide">
                                        <div class="slide--item">
                                            <a href="/images/products/<%= detail[0].image %>" data-fancybox="gallery">
                                                <img src="/images/products/<%= detail[0].image %>" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="productIntro__des">
                                        <img src="/images/zoom-in.png" alt="">
                                        <span>Bấm vào để xem ảnh phóng to</span>
                                    </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="productIntro__detail">
                            <div class="productIntro__top">
                                <h1>
                                    <%= detail[0].nameProduct %>
                                </h1>
                                <div class="productIntro__below">
                                    <div class="productIntro__brand">
                                        <span>Thương hiệu: </span>
                                        <a href="#">
                                            <%= detail[0].brand %>
                                        </a>
                                    </div>
                                    <div class="productIntro__id">
                                        <span>Mã Sản phẩm: </span>
                                        <span class="productIntro__code">27GR95QE-B.ATV</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row productIntro__detailPrice">
                                <div class="col-7">
                                    <div class="productIntro__price">
                                        <% if(detail[0].sale==0){ %>
                                            <div class="price-new">
                                                <%= (detail[0].price).toLocaleString() %> <span class="vnd">đ</span>
                                            </div>
                                            <% }else{ %>
                                                <div class="price-new">
                                                    <%= (detail[0].price - (detail[0].price *
                                                        detail[0].sale)).toLocaleString() %> <span class="vnd">đ</span>
                                                </div>
                                                <div class="price-old">
                                                    <%= (detail[0].price).toLocaleString() %> <span class="vnd">đ</span>
                                                </div>
                                                <% } %>
                                                    <div class="price-des">(Đã bao gồm VAT)</div>
                                    </div>
                                    <div class="productIntro__guarantee">
                                        <span>Bảo hành: 12 tháng. </span><a href="#">(Quy định bảo hành)</a>
                                    </div>
                                    <div class="productIntro__option"></div>
                                    <div class="productIntro__btn">
                                        <a href="#" class="btn--addCart" id="addCart">Thêm vào giỏ hàng</a>
                                        <a class="btn--installment1" href="#">Trả góp tiền mặt <div class="btn-des">Chỉ
                                                từ
                                                3.441.000 ₫/tháng</div></a>
                                        <a class="btn--installment2" href="#">Trả góp 0% qua thẻ <div class="btn-des">
                                                Visa,
                                                Master, JCB</div></a>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="productIntro__support">
                                        <h6 class="support-title">Tư vấn & Mua hàng - Gọi <a href="tel:19007777">1900
                                                7777</a></h6>
                                        <ul>
                                            <li>Freeship với đơn hàng trên 1.000.000đ</li>
                                            <li>Giao hàng ngay (Nội thành TP.HCM)</li>
                                            <li>Giao trong vòng 2 đến 3 ngày làm việc (Toàn quốc)</li>
                                        </ul>
                                        <p class="support-free">MIỄN PHÍ CHARGE THẺ</p>
                                        <div class="support-img">
                                            <img src="/images/payment/ft-img6.png" alt="">
                                            <img src="/images/payment/ft-img7.png" alt="">
                                            <img src="/images/payment/ft-img8.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="productIntro__space">
                <div class="productIntro__other">
                    <h5 class="other-title">Sản phẩm tương tự</h5>
                    <div class="other-slider">
                        <% for(let pd of productCate){ %>
                            <div class="slider-item">
                                <a class="other-card text-decoration-none" href="/detailProduct/<%= pd.idProduct %>">
                                    <div class="card">
                                        <img src="/images/products/<%= Buffer.from(pd.image, `utf-8`).toString(`utf-8`) %>"
                                            class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= pd.nameProduct %>
                                            </h5>
                                            <% if(pd.sale==0){ %>
                                                <div class="card-discount d-flex align-items-end">
                                                    <p class="card-new">
                                                        <%= (pd.price).toLocaleString() %><span class="vnd">đ</span>
                                                    </p>
                                                </div>
                                                <% } else { %>
                                                    <div class="card-discount d-flex align-items-end">
                                                        <p class="card-new">
                                                            <%= (pd.price - (pd.price*pd.sale)).toLocaleString() %><span
                                                                    class="vnd">đ</span>
                                                        </p>
                                                        <span class="card-sale">Sale <%= pd.sale*100 %>%</span>
                                                    </div>
                                                    <p class="card-old">
                                                        <%= (pd.price).toLocaleString() %><span class="vnd">đ</span>
                                                    </p>
                                                    <% } %>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>