<%- include('../partials/header') %>

    <!-- COVER -->
    <section class="cover">
        <div class="container">
            <div class="cover__content">
                <div class="cover__top">
                    <div class="cover__info">
                        <div class="cover__text">
                            <p>Chỉ từ 35.000.000<span class="vnd">đ</span></p>
                            <h2>iPhone 14 Pro</h2>
                        </div>
                        <div class="cover__btn">
                            <button class="btn--buy">Mua Ngay</button>
                        </div>
                    </div>
                    <div class="cover__img">
                        <img class="img-fluid" src="/images/iphone-img.png" alt="">
                    </div>
                </div>
                <div class="cover__bottom">
                    <div class="cover__block">
                        <div class="cover__item">
                            <div class="cover__svg">
                                <svg class="ugb-custom-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"
                                    style="enable-background:new 0 0 50 50" xml:space="preserve" aria-hidden="true"
                                    width="40" height="40">
                                    <path
                                        d="m49.7 24.9-2.9-3.8-4.8-9.4c-.3-.5-.8-.9-1.4-.9h-6.7V9.2c0-.9-.7-1.6-1.6-1.6H6c-.9 0-1.6.7-1.6 1.6s.7 1.6 1.6 1.6h24.7v11c0 .9.7 1.6 1.6 1.6h12.3l2.3 3v8.1h-3c-.7-2.7-3.2-4.8-6.1-4.8-3 0-5.4 2-6.1 4.8h-9.3c-.7-2.7-3.2-4.8-6.1-4.8-3 0-5.4 2-6.1 4.8H6c-.9 0-1.6.7-1.6 1.6s.7 1.6 1.6 1.6h4.1c.7 2.7 3.2 4.7 6.1 4.7 2.9 0 5.4-2 6.1-4.7h9.4c.7 2.7 3.2 4.7 6.1 4.7 2.9 0 5.4-2 6.1-4.7h4.6c.9 0 1.6-.7 1.6-1.6V25.8c-.1-.3-.2-.6-.4-.9zM33.9 14h5.8l3.2 6.3H34V14zM16.2 39.2c-1.7 0-3.2-1.4-3.2-3.2 0-1.7 1.4-3.2 3.2-3.2 1.7 0 3.2 1.4 3.2 3.2 0 1.8-1.4 3.2-3.2 3.2zM40.9 36c0 1.7-1.4 3.2-3.1 3.2-1.7 0-3.2-1.4-3.2-3.1s1.4-3.2 3.1-3.2c1.8 0 3.2 1.4 3.2 3.1zm-29.5-6.3H4.1c-.9 0-1.6-.7-1.6-1.6s.7-1.6 1.6-1.6h7.2c.9 0 1.6.7 1.6 1.6s-.6 1.6-1.5 1.6zm3.6-6.2H1.6c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6H15c.9 0 1.6.7 1.6 1.6 0 .9-.7 1.6-1.6 1.6zM2.6 15.7c0-.9.7-1.6 1.6-1.6h13.4c.9 0 1.6.7 1.6 1.6s-.7 1.6-1.6 1.6H4.1c-.8 0-1.5-.7-1.5-1.6z">
                                    </path>
                                </svg>
                            </div>
                            <div class="cover__benefit">
                                <h6>Miễn phí vận chuyển</h6>
                                <p>Miễn phí vận chuyển trên toàn quốc</p>
                            </div>
                        </div>
                        <div class="cover__item">
                            <div class="cover__svg">
                                <svg class="ugb-custom-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"
                                    style="enable-background:new 0 0 50 50" xml:space="preserve" aria-hidden="true"
                                    width="40" height="40">
                                    <path
                                        d="M49.6 33.2 40.5 45l-10 5H.5v-3.1h29.3l8.7-4.4 6.4-8.3c-2.6-.8-5.5.1-7.2 2.2l-1.9 2.4-8.5 3.4H19c-1.1 0-2.2-.6-2.7-1.6-.8-1.5-.3-3.4 1.2-4.2l5.3-2.9s.1 0 .1-.1c1-.6 1.3-1.8.9-2.8-.5-1.1-1.9-1.6-3-1.1l-6.9 3.2L9 37.6H.4v-3.1h7.2L12 30l1.3-.6c-5-4.9-6.4-12.3-3.8-18.8C13.2 1.8 23.2-2.3 32 1.3l-1.2 2.9c-5.7-2.3-12.2-.7-16.1 3.9-5 5.9-4.2 14.8 1.7 19.8l3-1.4c2.5-1.1 5.4-.3 6.8 2 .5.8.7 1.7.8 2.6.3 0 .6-.1 1-.1 7.6-1.4 12.7-8.7 11.3-16.3l3.1-.6c.2 1 .3 2 .3 3.1 0 9.2-7.3 16.8-16.5 17.2-.5.7-1.1 1.4-1.9 1.8L19 39.1h7.7l7.1-2.9 1.4-1.7c3.1-3.9 8.7-4.8 12.9-2.2l1.5.9zM38.5 12l2.9-1.1c-.4-1.1-1-2.1-1.6-3l-2.6 1.7c.5.7.9 1.5 1.3 2.4zm-.8-6.9c-.9-.8-1.7-1.5-2.7-2.2l-1.7 2.6c.8.5 1.5 1.1 2.2 1.8l2.2-2.2zM25.5 21.9s-.1 0 0 0h-4.8V25h4.7c2.6 0 4.7-2 4.8-4.6 0-2.6-2-4.7-4.6-4.8h-.1c-.9 0-1.6-.7-1.6-1.5 0-.9.7-1.6 1.5-1.6h4.8V9.4H27V6.3h-3.1v3.4c-2.4.9-3.7 3.5-2.9 6 .7 1.9 2.4 3.1 4.4 3.1.9 0 1.6.7 1.6 1.5s-.6 1.6-1.5 1.6z">
                                    </path>
                                </svg>
                            </div>
                            <div class="cover__benefit">
                                <h6>Hoàn tiền 100%</h6>
                                <p>Bạn được đổi trả trong 10 ngày</p>
                            </div>
                        </div>
                        <div class="cover__item">
                            <div class="cover__svg">
                                <svg class="ugb-custom-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"
                                    style="enable-background:new 0 0 50 50" xml:space="preserve" aria-hidden="true"
                                    width="40" height="40">
                                    <path
                                        d="M50 25c0 5.6-1.9 11.1-5.4 15.5C36 51.3 20.3 53.2 9.5 44.6S-3.2 20.3 5.4 9.5 29.7-3.2 40.5 5.4c.9.7 1.1 2 .3 2.9-.7.9-2 1.1-2.9.3-3.6-2.9-8.2-4.4-12.9-4.4C13.5 4.2 4.2 13.5 4.2 25S13.5 45.8 25 45.8 45.8 36.5 45.8 25c0-3.1-.7-6.2-2.1-9.1-.5-1-.1-2.3 1-2.8 1-.5 2.3-.1 2.8 1C49.2 17.5 50 21.2 50 25zM25 8.3c-1.2 0-2.1.9-2.1 2.1V25c0 1.2.9 2.1 2.1 2.1h10.4c1.2 0 2.1-.9 2.1-2.1 0-1.2-.9-2.1-2.1-2.1h-8.3V10.4c0-1.1-.9-2.1-2.1-2.1z">
                                    </path>
                                </svg>
                            </div>
                            <div class="cover__benefit">
                                <h6>Hỗ trợ 24/7</h6>
                                <p>Liên hệ với chúng tôi 24h</p>
                            </div>
                        </div>
                        <div class="cover__item">
                            <div class="cover__svg">
                                <svg class="ugb-custom-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"
                                    style="enable-background:new 0 0 50 50" xml:space="preserve" aria-hidden="true"
                                    width="40" height="40">
                                    <path
                                        d="M22.7 32c0 1.1-.9 2-2 2H5.9C2.6 33.9 0 31.3 0 28V8.5c0-3.2 2.6-5.9 5.9-5.9h34.4c3.2 0 5.9 2.6 5.9 5.9v5.2c0 1.1-.9 2-2 2s-2-.9-2-2V8.5c0-1.1-.9-2-2-2H5.9c-1.1 0-2 .9-2 2V28c0 1.1.9 2 2 2h14.8c1.1 0 2 .9 2 2zM50 32v13.4c0 1.1-.9 2-2 2H28.5c-1.1 0-2-.9-2-2V32c0-1.1.9-2 2-2h2v-3.9c0-4.3 3.5-7.8 7.8-7.8s7.8 3.5 7.8 7.8V30h2c1 0 1.9.9 1.9 2zm-15.6-2h7.8v-3.9c0-2.2-1.7-3.9-3.9-3.9s-3.9 1.7-3.9 3.9V30zm11.7 13.4v-9.5H30.5v9.5h15.6zM17.6 10.5c1.1 0 2 .9 2 2v7.8c0 1.1-.9 2-2 2H9.8c-1.1 0-2-.9-2-2v-7.8c0-1.1.9-2 2-2h7.8zm-2 7.8v-3.9h-3.9v3.9h3.9z">
                                    </path>
                                </svg>
                            </div>
                            <div class="cover__benefit">
                                <h6>100% bảo mật thanh toán</h6>
                                <p>Thanh toán của bạn được bảo mật</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- COMMERCIAL -->
    <section class="commercial">
        <div class="container">
            <div class="commercial__list">
                <div class="commercial__item">
                    <a href="" class="commercial__banner">
                        <img src="/images/ban-phim-co.png" alt="">
                    </a>
                </div>
                <div class="commercial__item">
                    <a href="" class="commercial__banner">
                        <img src="/images/may-doc-sach.png" alt="">
                    </a>
                </div>
                <div class="commercial__item">
                    <a href="" class="commercial__banner">
                        <img src="/images/dong-ho-garmin.png" alt="">
                    </a>
                </div>
                <div class="commercial__item">
                    <a href="" class="commercial__banner">
                        <img src="/images/1laptop.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- NUMBER -->
    <section class="bestseller">
        <div class="container">
            <div class="bestseller__content">
                <ul class="nav nav-tabs" id="gadgetsTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane"
                            type="button" role="tab" aria-controls="all-tab-pane" aria-selected="true">Sản phẩm mới
                            nhất</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link selling" id="selling-tab" data-bs-toggle="tab"
                            data-bs-target="#selling-tab-pane" type="button" role="tab" aria-controls="selling-tab-pane"
                            aria-selected="false">Top 10 bán
                            chạy</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link promotion" id="promotion-tab" data-bs-toggle="tab"
                            data-bs-target="#promotion-tab-pane" type="button" role="tab"
                            aria-controls="promotion-tab-pane" aria-selected="false">Khuyến mãi</button>
                    </li>
                </ul>
                <div class="tab-content" id="gadgetsTabContent">
                    <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="all-tab"
                        tabindex="0">
                        <div class="bestseller__all">
                            <% for(let pd of newPD){ %>
                                <div class="all-item" id="${i + 1}">
                                    <a class="bestseller__card" href="/detailProduct/<%= pd.idProduct %>">
                                        <div class="card">
                                            <img src="/images/products/<%= Buffer.from(pd.image, `utf-8`).toString(`utf-8`) %>"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= pd.nameProduct %>
                                                </h5>
                                                <% if(pd.sale==0){ %>
                                                    <div class="card-discount d-flex align-items-end">
                                                        <p class="card-new">
                                                            <%= (pd.price).toLocaleString() %><span class="vnd">đ</span>
                                                        </p>
                                                    </div>
                                                    <% } else { %>
                                                        <div class="card-discount d-flex align-items-end">
                                                            <p class="card-new">
                                                                <%= (pd.price - (pd.price*pd.sale)).toLocaleString() %>
                                                                    <span class="vnd">đ</span>
                                                            </p>
                                                            <span class="card-sale">Sale <%= pd.sale * 100 %>%</span>
                                                        </div>
                                                        <p class="card-old">
                                                            <%= (pd.price).toLocaleString() %><span class="vnd">đ</span>
                                                        </p>
                                                        <% } %>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <% } %>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="selling-tab-pane" role="tabpanel" aria-labelledby="selling-tab"
                        tabindex="0">
                        <div class="bestseller__selling">
                            <% for(let pd of top10PD){ %>
                                <div class="selling-item">
                                    <a class="bestseller__card" href="/detailProduct/<%= pd.idProduct %>">
                                        <div class="card">
                                            <img src="/images/products/<%= Buffer.from(pd.image, `utf-8`).toString(`utf-8`) %>"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= pd.nameProduct %>
                                                </h5>
                                                <% if(pd.sale==0){ %>
                                                    <div class="card-discount d-flex align-items-end">
                                                        <p class="card-new">
                                                            <%= (pd.price).toLocaleString() %><span class="vnd">đ</span>
                                                        </p>
                                                    </div>
                                                    <% } else { %>
                                                        <div class="card-discount d-flex align-items-end">
                                                            <p class="card-new">
                                                                <%= (pd.price - (pd.price*pd.sale)).toLocaleString() %>
                                                                    <span class="vnd">đ</span>
                                                            </p>
                                                            <span class="card-sale">Sale <%= pd.sale * 100 %>%</span>
                                                        </div>
                                                        <p class="card-old">
                                                            <%= (pd.price).toLocaleString() %><span class="vnd">đ</span>
                                                        </p>
                                                        <% } %>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <% } %>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="promotion-tab-pane" role="tabpanel" aria-labelledby="promotion-tab"
                        tabindex="0">
                        <div class="bestseller__promotion">
                            <% for(let pd of salePD){ %>
                                <div class="promotion-item">
                                    <a class="bestseller__card" href="/detailProduct/<%= pd.idProduct %>">
                                        <div class="card">
                                            <img src="/images/products/<%= Buffer.from(pd.image, `utf-8`).toString(`utf-8`) %>"
                                                class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= pd.nameProduct %>
                                                </h5>
                                                <div class="card-discount d-flex align-items-end">
                                                    <p class="card-new">
                                                        <%= (pd.price - (pd.price*pd.sale)).toLocaleString() %>
                                                            <span class="vnd">đ</span>
                                                    </p>
                                                    <span class="card-sale">Sale <%= pd.sale * 100 %>%</span>
                                                </div>
                                                <p class="card-old">
                                                    <%= (pd.price).toLocaleString() %><span class="vnd">đ</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
                <div class="bestseller__showAll">
                    <a href="/allProduct" class="btn--show">
                        <i class="fa fa-plus-circle"></i><span>Xem thêm</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- OFFER -->
    <section class="offer">
        <div class="container">
            <div class="offer__content">
                <div class="offer__info">
                    <div class="offer__text">
                        <h1>Macbook Pro M2</h1>
                        <p>Sau sự thành công của Macbook Pro M1, Apple tiếp tục cho ra mắt phiên bản nâng cấp với con
                            chip mạnh hơn mang tên Macbook Pro M2 vào năm 2022. Sở hữu một hiệu năng vượt trội với con
                            chip M2 mang lại cho người dùng những trải nghiệm mới.</p>
                        <a href="" class="btn--offer"> Xem đề xuất</a>
                    </div>
                </div>
                <div class="offer__img">
                    <img src="/images/category-laptops.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- FEATURED -->
    <section class="featured">
        <div class="container">
            <div class="featured__content">
                <h2 class="section-text">Sản phẩm đặc biệt</h2>
                <div class="featured__list">
                    <% for(let pd of featuredPD){ %>
                        <a class="featured__item text-decoration-none" href="/detailProduct/<%= pd.idProduct %>">
                            <div class="card">
                                <img src="/images/products/<%= Buffer.from(pd.image, `utf-8`).toString(`utf-8`) %>"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= pd.nameProduct %>
                                    </h5>
                                    <% if(pd.sale==0){ %>
                                        <div class="card-discount d-flex align-items-end">
                                            <p class="card-new">
                                                <%= (pd.price).toLocaleString() %><span class="vnd">đ</span>
                                            </p>
                                        </div>
                                        <% } else { %>
                                            <div class="card-discount d-flex align-items-end">
                                                <p class="card-new">
                                                    <%= (pd.price - (pd.price*pd.sale)).toLocaleString() %>
                                                        <span class="vnd">đ</span>
                                                </p>
                                                <span class="card-sale">Sale <%= pd.sale * 100 %>%</span>
                                            </div>
                                            <p class="card-old">
                                                <%= (pd.price).toLocaleString() %><span class="vnd">đ</span>
                                            </p>
                                            <% } %>
                                </div>
                            </div>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
    </section>
    <!-- POSTS -->
    <section class="posts">
        <div class="container">
            <div class="posts__content">
                <h2 class="section-text">Tin tức mới nhất</h2>
                <div class="posts__list">
                    <a class="posts__item text-decoration-none" href="">
                        <div class="posts__detail">
                            <div class="posts__img">
                                <img src="/images/posts/asus-expertbook-b9-oled-va-b5-series-ra-mat.jpg" alt="">
                            </div>
                            <div class="posts__info">
                                <h5 class="posts__date">09/09/2023</h5>
                                <h3 class="posts__title">ASUS nâng cấp bộ đôi Laptop ExpertBook B9 OLED và B5 Series với
                                    hiệu suất ấn tượng
                                </h3>
                                <p class="posts__desc">ASUS mới đây vừa nâng cấp máy tính xách tay ExpertBook B9 OLED và
                                    B5 Series 14 inch.
                                    Các máy tính xách tay mới có bộ xử lý Intel dòng P có hỗ trợ Intel vPro.</p>
                            </div>
                        </div>
                    </a>
                    <a class="posts__item text-decoration-none" href="">
                        <div class="posts__detail">
                            <div class="posts__img">
                                <img src="/images/posts/article-image-6.webp" alt="">
                            </div>
                            <div class="posts__info">
                                <h5 class="posts__date">07/09/2023</h5>
                                <h3 class="posts__title">5 mẹo tối ưu card Nvidia GeForce chơi game chất lượng cao</h3>
                                <p class="posts__desc">Các card đồ họa GeForce RTX 40-series và 30-series của Nvidia vốn
                                    đã rất mạnh, đặc biệt là hiệu suất để chơi game khá khủng.</p>
                            </div>
                        </div>
                    </a>
                    <a class="posts__item text-decoration-none" href="">
                        <div class="posts__detail">
                            <div class="posts__img">
                                <img src="/images/posts/garmin-forerunner-945-so-voi-935-dong-ho-chay-bo-nao-xung-dang-hon.jpg"
                                    alt="">
                            </div>
                            <div class="posts__info">
                                <h5 class="posts__date">06/09/2023</h5>
                                <h3 class="posts__title">Garmin Forerunner 945 so với 935: Đồng hồ chạy bộ nào xứng đáng
                                    hơn?
                                </h3>
                                <p class="posts__desc">Forerunner 945 nằm trên dòng sản phẩm Forerunner của Garmin và
                                    tràn ngập các tính năng thể thao cũng như chăm sóc sức khỏe.</p>
                            </div>
                        </div>
                    </a>
                    <a class="posts__item text-decoration-none" href="">
                        <div class="posts__detail">
                            <div class="posts__img">
                                <img src="/images/posts/huong-dan-chon-mua-mainboard-phu-hop-may-tinh-cua-ban.jpg"
                                    alt="">
                            </div>
                            <div class="posts__info">
                                <h5 class="posts__date">04/09/2023</h5>
                                <h3 class="posts__title">Hướng dẫn chọn mua mainboard phù hợp máy tính của bạn</h3>
                                <p class="posts__desc">Bộ xử lý và card đồ họa thường chiếm phần lớn ngân sách xây dựng
                                    một dàn PC, bo mạch chủ là một trong những thành phần không thể thiếu trong bộ máy
                                    tính.</p>
                            </div>
                        </div>
                    </a>
                    <a class="posts__item text-decoration-none" href="">
                        <div class="posts__detail">
                            <div class="posts__img">
                                <img src="/images/posts/nen-mua-garmin-venu-3-hay-venu-2-co-tinh-nang-gi-moi.png"
                                    alt="">
                            </div>
                            <div class="posts__info">
                                <h5 class="posts__date">03/09/2023</h5>
                                <h3 class="posts__title">Nên mua Garmin Venu 3 hay Venu 2: Có tính năng gì mới?</h3>
                                <p class="posts__desc">Garmin đã công bố dòng đồng hồ thông minh mới là Venu 3 Venu 3S.
                                    Để làm nổi bật hoàn toàn các tính năng mới được nâng cấp.</p>
                            </div>
                        </div>
                    </a>
                    <a class="posts__item text-decoration-none" href="">
                        <div class="posts__detail">
                            <div class="posts__img">
                                <img src="/images/posts/huong-dan-dieu-chinh-do-phan-giai-hien-thi-tren-man-hinh-may-tinh.jpg"
                                    alt="">
                            </div>
                            <div class="posts__info">
                                <h5 class="posts__date">01/09/2023</h5>
                                <h3 class="posts__title">Hướng dẫn điều chỉnh độ phân giải hiển thị trên Win 7,8,8.1,10
                                    và 11</h3>
                                <p class="posts__desc">Bài viết sẽ hướng dẫn cách điều chỉnh độ phân giải màn hình máy
                                    tính trên Win 7 đến Win 11. Hy vọng thông tin này sẽ giúp bạn điều chỉnh tại nhà dễ
                                    dàng hơn nhé.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>